.col-sm-8.head_box h2{
	font-size: 16px;
    color: #007cba;
    margin-top: 0px;
}
.col-sm-4.box_button button {
    border: 1px solid;
    margin-top: 7px;
}

li.ui-tabs-tab {
    display: inline-block;
    margin: 10px 10px 10px 17px;
    border: 1px solid;
    padding: 10px;
}
ul#sortable1 li {
    max-width: 100%;
    margin: 30px;
}
.form_details li.ui-tabs-tab
{
    font-size: 16px;
    color: #fff;
    margin: 0;
    border: 1px solid #5b9dd9;
}
.form_details li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    
    background: #fff;
}
.card .card-header .row div {
    display: inline-block;
}
.card .col-sm-4.box_button {
    float: right;
}
.card .form-group {
    margin: 10px 10px 15px 10px;
    display: flex;
}
.card label {
    margin: 0px 10px 10px 0px;
    display: block;
    width: 13%;
    color: #007cba;
}

.options_vcf7 .row .col-md-4
{
        display: table-cell;
}
.form-group.dropdown_fields {
    margin: 35px;
}
.form-group.dropdown_fields label, .form-group.dropdown_fields select, .form-group.dropdown_fields button{
    margin: 10px 30px 10px 10px;
    font-size: 16px;
}
.form-group.dropdown_fields select{
    width:100%;
}
.form_details li.ui-tabs-tab a
{
    text-decoration: none;
}
.form_details div.ui-tabs-panel {
    border: 1px solid #5b9dd9;
    background: #ffff;
    padding: 20px;
}
.form_details li.ui-tabs-tab a {
    text-decoration: none;
}
.captcha_details span.success_msg, .delete_error_overview {
    color: #1f941f;
    font-size: 16px;
    margin: 10px;
}
.captcha_details .error
{
    color :#f30f0f;
    padding-left: 20px;
}
.wp_list_vcf th {
  background-color: white;
}
.wp_list_vcf tr:nth-child(odd) {
  background-color: grey;
}
.wp_list_vcf th, td {
  padding: 0.5rem;
}
.wp_list_vcf td:hover {
  background-color: lightsalmon;
}
.wp_list_vcf .paginate_button {
  border-radius: 0 !important;
}
div#example_wrapper
{
    margin: 20px;
}
.wp_list_vcf
{
    padding: 15px 1px 10px 0px;
    text-align: left;
}
.overview_vcfform input.btn.btn-link
{
    background: #0073aa;
    padding: 9px;
    color: #fff;
    border: none;
}
div#tabs-2 h3
{
    margin: 0px;
}
button#add_fields
{
    background: #0073aa;
    padding: 9px;
    color: #fff;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.add_more_radio
{
    margin-right: 8px;
    cursor: pointer;
}
.remove_more_radio
{
    cursor: pointer;
}
.form_details li.ui-tabs-tab:focus {
    outline: none;
}
body .wp-person a:focus .gravatar, a:focus, 
body a:focus .media-icon img {
    color: #124964;
    box-shadow: none;
    outline: 1px solid transparent;
}
div#vcf7_tabs input[type=date], div#vcf7_tabs input[type=datetime-local], div#vcf7_tabs input[type=datetime], div#vcf7_tabs input[type=email],
div#vcf7_tabs input[type=month], div#vcf7_tabs input[type=number], div#vcf7_tabs input[type=password], div#vcf7_tabs input[type=search],div#vcf7_tabs input[type=tel],
div#vcf7_tabs input[type=text], div#vcf7_tabs input[type=time], div#vcf7_tabs input[type=url], div#vcf7_tabs input[type=week], div#vcf7_tabs textarea {
    width: 100%;
    border-radius: 1px;
}
div#vcf7_tabs input[type=checkbox], div#vcf7_tabs input[type=radio]
{
    margin: 2px;
}

.form_details .card-header .row {
    background: #201a1f1f;
    padding: 5px;
    margin-bottom: 25px;
}
.form_details .card-header h2
{
    background: #201a1f1f;
    width: 100%
}
.col-sm-4.box_button button.btn.btn-link {
    cursor: pointer;
}